![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [9]:
# Criando uma lista
# primeiro cria uma string, e coloca a lista em [], que vai delimitar
# por conta das aspas, vai entender que tem apenas um elemento
lista_1 = ["arroz, frango, tomate, leite"]

In [11]:
type(lista_1)

list

In [13]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [17]:
len(lista_1)
# ele vai me dar a informação da quantidade de elementos na interavél

1

In [19]:
# Criando outra lista
lista_compra = ["arroz", "frango", "tomate", "leite"]

In [21]:
type(lista_compra)

list

In [23]:
# Imprimindo a lista
print(lista_compra)

['arroz', 'frango', 'tomate', 'leite']

In [25]:
len(lista_compra)

4

In [27]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [29]:
type(lista_3)

list

In [31]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [33]:
len(lista_3)

3

In [37]:
lista_3[2][13::]
#aqui faz o recorte do item que eu desejo, no caso cientista de dados, e depois faz um segundo recorte dentro, para apenas dados

'Dados'

In [39]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [45]:
# Imprimindo as variáveis
print(item1, item2, item3)
print(item1)
print(item2) 
print(item3)

23 100 Cientista de Dados
23
100
Cientista de Dados

In [47]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [51]:
for i in range(len(alunos)):
# ou pode colocar for i in range(3):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [55]:
lista_compra

['arroz', 'frango', 'tomate', 'leite']

In [57]:
# Imprimindo um item da lista
lista_compra[2]

'tomate'

In [59]:
# Atualizando um item da lista
lista_compra[2] = "chocolate"

In [61]:
# Imprimindo lista alterada
lista_compra

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [63]:
lista_compra

['arroz', 'frango', 'chocolate', 'leite']

In [65]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_compra[4]

IndexError: list assignment index out of range

In [67]:
# Deletando um item específico da lista
del lista_compra[3]

In [69]:
# Imprimindo o item com a lista alterada
lista_compra

['arroz', 'frango', 'chocolate']

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [111]:
# Criando uma lista de listas - é uma matriz de 3 por 3
# primeiro conchete acessa as sublistas e o segundo acessa um elemento dentro das sublistas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [73]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [75]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [79]:
a

[1, 2, 3]

In [81]:
listas[0][1]

2

In [83]:
a

[1, 2, 3]

In [87]:
b = a[0]

In [89]:
b

1

In [91]:
list1 = listas[1]

In [93]:
list1

[10, 15, 14]

In [95]:
valor_1_0 = list1[0]

In [97]:
valor_1_0

10

In [99]:
valor_1_2 = list1[2]

In [101]:
valor_1_2

14

In [103]:
list2 = listas[2]

In [105]:
list2

[10.1, 8.7, 2.3]

In [107]:
valor_2_0 = list2[0]

In [109]:
valor_2_0

10.1

#### Operações com Listas

In [113]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [115]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [117]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [119]:
a

1

In [121]:
b = listas[1][2]

In [123]:
b

14

In [125]:
c = listas[0][2] + 10

In [127]:
c

13

In [129]:
d = 10

In [131]:
d

10

In [133]:
e = d * listas[2][0]

In [135]:
e

101.0

#### Concatenando Listas

In [137]:
lista_s1 = [34, 32, 56]

In [139]:
lista_s1

[34, 32, 56]

In [141]:
lista_s2 = [21, 90, 51]

In [143]:
lista_s2

[21, 90, 51]

In [145]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [147]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in
se o elemento está contido em (dentro)

In [150]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [152]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [154]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in
o conceito é daqueles itens que já vem montado/ carregado/ de fábrica do python

In [159]:
lista_s1

[34, 32, 56]

![Listas](listas.jpg)

In [161]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [163]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [165]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [167]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [169]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [171]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [173]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [175]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [177]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [179]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [181]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [183]:
# Criando uma lista vazia
a = []

In [185]:
print(a)

[]

In [187]:
type(a)

list

In [189]:
a.append(10)

In [191]:
a

[10]

In [193]:
a.append(50)

In [195]:
a

[10, 50]

In [251]:
old_list = [1,2,5,10]

In [253]:
new_list = []

In [255]:
# Copiando os itens de uma lista para outra
#for vai percorrer de item a item
for item in old_list:
    new_list.append(item)

In [257]:
new_list

[1, 2, 5, 10]

In [269]:
old_list = [1,2,5,10]

In [271]:
new_list_inv = []

In [273]:
for item in old_list [::-1]:
    new_list_inv.append(item)

In [275]:
new_list_inv

[10, 5, 2, 1]

In [277]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

Digite um valor (-1 para sair):  6
Digite um valor (-1 para sair):  9
Digite um valor (-1 para sair):  45
Digite um valor (-1 para sair):  0
Digite um valor (-1 para sair):  -1

[6, 9, 45, 0]

In [ ]:
new_list

In [316]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [318]:
cidades.index('Salvador')
#posição da palavra dentro da lista

2

Lembre-se: em Python o índice começa por 0!

In [321]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [323]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [325]:
cidades.insert(2, 110)
#primeiro coloca a posição e depois o que deseja

In [327]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [329]:
# Remove um item da lista
cidades.remove(110)

In [331]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [333]:
# Reverte a lista
cidades.reverse()

In [335]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [337]:
x = [3, 4, 2, 1]

In [339]:
x

[3, 4, 2, 1]

In [341]:
# Ordena a lista
x.sort()

In [343]:
x

[1, 2, 3, 4]

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [ ]:
# Imprimindo a tupla
tupla1

In [ ]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [ ]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

In [ ]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

In [ ]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [ ]:
tupla1

In [ ]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [ ]:
tupla1[0]

In [ ]:
# Verificando o comprimento da tupla
len(tupla1)

In [ ]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

In [ ]:
tupla1.index('Elefantes')

In [ ]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

In [ ]:
# Deletando a tupla
del tupla1

In [ ]:
tupla1

In [ ]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [ ]:
t2

In [ ]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

In [ ]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [ ]:
type(t2)

In [ ]:
type(lista_t2)

In [ ]:
lista_t2

In [ ]:
lista_t2.append('D')

In [ ]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [ ]:
t2

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [ ]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [ ]:
estudantes_lst

In [ ]:
type(estudantes_lst)

In [ ]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes_dict

In [ ]:
type(estudantes_dict)

In [ ]:
estudantes_dict["Pedro"]

In [ ]:
estudantes_dict["Marcelo"] = 23

In [ ]:
estudantes_dict["Marcelo"]

In [ ]:
estudantes_dict

In [ ]:
estudantes_dict.clear()

In [ ]:
estudantes_dict

In [ ]:
del estudantes_dict

In [ ]:
estudantes_dict

In [ ]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [ ]:
estudantes

In [ ]:
len(estudantes)

In [ ]:
estudantes.keys()

In [ ]:
estudantes.values()

In [ ]:
estudantes.items()

In [ ]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [ ]:
estudantes2

In [ ]:
estudantes.update(estudantes2)

In [ ]:
estudantes

In [ ]:
dic1 = {}

In [ ]:
dic1

In [ ]:
dic1["chave_um"] = 2

In [ ]:
print(dic1)

In [ ]:
dic1[10] = 5

In [ ]:
dic1

In [ ]:
dic1[9.13] = "Python"

In [ ]:
dic1

In [ ]:
dic1["teste"] = 5

In [ ]:
dic1

In [ ]:
dict1 = {}

In [ ]:
dict1

In [ ]:
dict1["teste"] = 10

In [ ]:
dict1["key"] = "teste"

In [ ]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

In [ ]:
dict2 = {}

In [ ]:
dict2["key1"] = "Data Science"

In [ ]:
dict2["key2"] = 10

In [ ]:
dict2["key3"] = 100

In [ ]:
dict2

In [ ]:
a = dict2["key1"]

In [ ]:
b = dict2["key2"]

In [ ]:
c = dict2["key3"]

In [ ]:
a, b, c

In [ ]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [ ]:
dict3

In [ ]:
dict3['chave2']

In [ ]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

In [ ]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [ ]:
var1

In [ ]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [ ]:
dict3

#### Criando Dicionários Aninhados

In [ ]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [ ]:
dict_aninhado

In [ ]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor (input) de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [373]:
lista_1 = []
for i in range(5):
    n = int(input("Digite um valor: "))
    lista_1.append(n)
lista_1.reverse()
print(lista_1)

Digite um valor:  1
Digite um valor:  2
Digite um valor:  3
Digite um valor:  4
Digite um valor:  5

[5, 4, 3, 2, 1]

2. Faça um algoritmo que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [406]:
list_2 = []
for i in range(5):
    n = int(input("Digite um número: "))
    list_2.append(n)
maior = max(list_2) 
i = list_2.index(maior)
print(f"O maior valor é {maior} e está na posição {i}!")

Digite um número:  10
Digite um número:  9
Digite um número:  8
Digite um número:  7
Digite um número:  6

O maior valor é 10 e está na posição 0!

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [408]:
list_3 = []
for i in range(5):
    n1 = int(input("Digite um número: "))


list_3 = [3, 4, 7, 8, 9]
list_4 = [20, 34, 45, 67, 89]

In [289]:
list_soma = list_3 + list_4
sum(list_soma)

286

In [410]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
# vai sortear um número aleatóriamente dentro de um intervalo de números
from random import randint
a = randint(1, 60)
print(a)

29

In [414]:
for i in range(6):
    a = randint(1,60)
    print(a)

48
44
26
23
38
30

In [424]:
# Exemplo de geração de 10 jogadas de dados
from random import randint #feito uma vez a importação, não precisa fazer novamente
# Gerando 10 jogadas
for i in range (10):
    lado = randint(1, 6)
    print(lado, end=" ")
    # pule uma linha, mostre espaço e coloque ao lado - end=" "

2 5 5 6 4 4 6 5 6 1

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [452]:
jogadas = [0, 0, 0, 0, 0, 0, 0,]
for i in range (6000):
    lado = randint(1, 6)
    jogadas [lado] += 1
print(jogadas)
jg1 = jogadas[1] / 6000  
jg2 = jogadas[2] / 6000
jg3 = jogadas[3] / 6000
jg4 = jogadas[4] / 6000
jg5 = jogadas[5] / 6000
jg6 = jogadas[6] / 6000
print(jg1, jg2, jg3, jg4, jg5, jg6)

[0, 1030, 934, 1030, 996, 960, 1050]
0.17166666666666666 0.15566666666666668 0.17166666666666666 0.166 0.16 0.175

In [450]:
jogadas = [0, 0, 0, 0, 0, 0, 0,]
for i in range (6000):
    lado = randint(1, 6)
    jogadas [lado] += 1
print(jogadas)

perc = [0, 0, 0, 0, 0, 0, 0]
for i in range(1,7):
    perc[i] = (jogadas[i] / 6000) *100
    perc[i] = int(perc[i] * 100) / 100
print(perc)

[0, 1001, 992, 1000, 999, 1029, 979]
[0, 16.68, 16.53, 16.66, 16.65, 17.15, 16.31]

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

In [47]:
listas = [ [1.1, 1.2] , [ 2.1, 2.2] ]
print(f"1,1 = {listas[0][0]}")
print(f"1,2 = {listas[0][1]}")
print(f"2,1 = {listas[1][0]}")
print(f"2,2 = {listas[1][1]}")

1,1 = 1.1
1,2 = 1.2
2,1 = 2.1
2,2 = 2.2

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

In [44]:
# Diagonal principal significa que os elementos devem estar em posições onde linha = coluna 
# (ou seja, [0][0], [1][1], [2][2], [3][3] em uma matriz (4 x 4)).

listas_2 = [ [11, 22, 39, 47] , [55, 66, 75, 80] , [90, 10, 17, 12], [13, 14, 15, 16] ]
for linha in listas_2:
    print(linha)

soma = 0
soma += listas_2[0][0] + listas_2[1][1] + listas_2[2][2] + listas_2[3][3]

print(f"\nOs valores da diagonal principal são: {listas_2 [0][0]} , {listas_2[1][1]}, {listas_2[2][2]}, {listas_2[3][3]}.")
print(f"A soma dos elementos reais da diagonal principal é de {soma}!")

[11, 22, 39, 47]
[55, 66, 75, 80]
[90, 10, 17, 12]
[13, 14, 15, 16]

Os valores da diagonal principal são: 11 , 66, 17, 16.
A soma dos elementos reais da diagonal principal é de 110!

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

In [67]:
# linhas pares, estamos nos referindo às linhas de uma matriz que têm um índice par. 
# as linhas pares são aquelas cujos índices são 0, 2, 4 (considerando uma matriz (5x5)).

matriz = [] # armazena os números inseridos pelo usuário

for i in range (5):
    print(" Elementos da 1ª LINHA:")    
    float(input(f"Informe o {i+1}º número real: "))

for i in range (5):
    float(input(f"Informe o {i+1}º número real - 2ª LINHA: "))

for i in range (5):
    float(input(f"Informe o {i+1}º número real - 3ª LINHA: "))

for i in range (5):
    float(input(f"Informe o {i+1}º número real - 4ª LINHA: "))  
for i in range (5):
    float(input(f"Informe o {i+1}º número real - 5ª LINHA: "))

 Elementos da 1ª LINHA:

Informe o 1º número real:  0

 Elementos da 1ª LINHA:

Informe o 2º número real:  0

 Elementos da 1ª LINHA:

Informe o 3º número real:  0

 Elementos da 1ª LINHA:

Informe o 4º número real:  0

 Elementos da 1ª LINHA:

Informe o 5º número real:  0
Informe o 1º número real - 2ª LINHA:  0
Informe o 2º número real - 2ª LINHA:  0
Informe o 3º número real - 2ª LINHA:  p

ValueError: could not convert string to float: 'p'

In [49]:
# Criando a matriz 5x5 com entrada do usuário
matriz = []  # Lista vazia para armazenar a matriz

for i in range(5):
    linha = []  # Lista vazia para armazenar cada linha
    print(f"Digite os 5 números da linha {i+1}:")  
    for j in range(5):  
        numero = float(input(f"Elemento [{i+1},{j+1}]: "))  # Pede um número por vez
        linha.append(numero)  # Adiciona o número à linha
    matriz.append(linha)  # Adiciona a linha à matriz

# Inicializando variáveis para soma e contagem de elementos das linhas pares
soma = 0
quantidade = 0

# Somando elementos das linhas pares (índices 0, 2, 4) sem usar sum()
for i in range(5):
    if i % 2 == 0:  # Verifica se a linha é par (0, 2, 4)
        for j in range(5):  # Percorre os elementos da linha
            soma += matriz[i][j]  # Adiciona manualmente cada número à soma
            quantidade += 1  # Conta os elementos

# Calculando a média
media = soma / quantidade if quantidade > 0 else 0  # Evita divisão por zero

# Exibindo resultado
print(f"\nA média dos elementos das linhas pares é: {media:.2f}")

Digite os 5 números da linha 1:

Elemento [1,1]:  1
Elemento [1,2]:  2
Elemento [1,3]:  5
Elemento [1,4]:  8
Elemento [1,5]:  9

Digite os 5 números da linha 2:

Elemento [2,1]:  5
Elemento [2,2]:  7
Elemento [2,3]:  8
Elemento [2,4]:  5
Elemento [2,5]:  29

Digite os 5 números da linha 3:

Elemento [3,1]:  288
Elemento [3,2]:  8622
Elemento [3,3]:  585
Elemento [3,4]:  26
Elemento [3,5]:  6332

Digite os 5 números da linha 4:

Elemento [4,1]:  6555
Elemento [4,2]:  66987
Elemento [4,3]:  55
Elemento [4,4]:  6224
Elemento [4,5]:  11

Digite os 5 números da linha 5:

Elemento [5,1]:  1
Elemento [5,2]:  2
Elemento [5,3]:  3
Elemento [5,4]:  45
Elemento [5,5]:  5

A média dos elementos das linhas pares é: 1062.27

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

## Fim da Aula 12